.bg-black {
  background-color: #000000; }

.bg-darkgray {
  background-color: #333333; }

.bg-turquoise {
  background-color: #00cccc; }

section.projectA {
  background-color: #00cccc;
  position: relative;
  height: 400px; }
  @media only screen and (max-width: 1200px) {
    section.projectA {
      height: 350px; } }
  @media only screen and (max-width: 991px) {
    section.projectA {
      height: 300px; } }
  @media only screen and (max-width: 767px) {
    section.projectA {
      height: 230px; } }
  @media only screen and (max-width: 576px) {
    section.projectA {
      height: 230px; } }
  @media only screen and (max-width: 500px) {
    section.projectA {
      height: 200px; } }
  @media only screen and (max-width: 400px) {
    section.projectA {
      height: 150px; } }
  section.projectA .overlay {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.6; }
    section.projectA .overlay:hover {
      opacity: 0; }
  section.projectA .image-wrapper {
    position: absolute;
    bottom: 0;
    left: 0; }
    section.projectA .image-wrapper img {
      width: 80%;
      height: auto;
      float: right; }
    section.projectA .image-wrapper a {
      position: absolute;
      z-index: 1000;
      top: 35%;
      left: 14%;
      font-weight: 700;
      font-size: 1.5em;
      position: absolute;
      border: 1px solid #ffffff;
      padding: 25px 35px;
      color: #ffffff; }
      section.projectA .image-wrapper a:hover {
        background-color: #ffffff;
        opacity: 0.6; }
      @media only screen and (max-width: 576px) {
        section.projectA .image-wrapper a {
          font-size: 1em;
          padding: 10px; } }

section.projectB {
  background-color: #a37e2c;
  position: relative;
  height: 400px; }
  @media only screen and (max-width: 1200px) {
    section.projectB {
      height: 350px; } }
  @media only screen and (max-width: 991px) {
    section.projectB {
      height: 300px; } }
  @media only screen and (max-width: 767px) {
    section.projectB {
      height: 230px; } }
  @media only screen and (max-width: 576px) {
    section.projectB {
      height: 230px; } }
  @media only screen and (max-width: 500px) {
    section.projectB {
      height: 200px; } }
  @media only screen and (max-width: 400px) {
    section.projectB {
      height: 150px; } }
  section.projectB .overlay {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.6; }
    section.projectB .overlay:hover {
      opacity: 0; }
  section.projectB .image-wrapper {
    position: absolute;
    bottom: 0;
    left: 0; }
    section.projectB .image-wrapper img {
      width: 80%;
      height: auto;
      float: left; }
    section.projectB .image-wrapper a {
      position: absolute;
      z-index: 1000;
      top: 35%;
      right: 14%;
      font-weight: 700;
      font-size: 1.5em;
      position: absolute;
      border: 1px solid #ffffff;
      padding: 25px 35px;
      color: #ffffff; }
      section.projectB .image-wrapper a:hover {
        background-color: #ffffff;
        opacity: 0.6; }
      @media only screen and (max-width: 576px) {
        section.projectB .image-wrapper a {
          font-size: 1em;
          padding: 10px; } }

#Tab ul {
  width: 50%;
  margin-left: auto;
  margin-right: auto; }
  #Tab ul li:first-child {
    width: 50%;
    background: #00cccc;
    text-align: center;
    padding: 15px 0; }
    #Tab ul li:first-child a {
      color: white;
      font-size: 20px; }
  #Tab ul li:nth-child(2) {
    width: 50%;
    background: #ededef;
    text-align: center;
    padding: 15px 0; }
    #Tab ul li:nth-child(2) a {
      color: #000000;
      font-size: 20px; }

@media screen and (min-width: 769px) {
  .laptop-scroll {
    margin-left: 0%;
    width: 80%; } }
@media screen and (min-width: 769px) {
  .laptop-scroll {
    margin-top: 130px; } }
.laptop-scroll {
  position: relative;
  margin-top: 30px;
  direction: ltr;
  padding-left: 7.5px;
  padding-right: 7.5px;
  width: 100%;
  display: inline-block;
  min-height: 1px;
  box-sizing: border-box; }

@media screen and (min-width: 769px) {
  .laptop-scroll .img-cont {
    position: absolute;
    top: 7%;
    left: 16.9%;
    height: 78.5%;
    width: 66.25%;
    overflow: scroll; } }
@media screen and (min-width: 769px) {
  .laptop-scroll img {
    border-radius: 0;
    box-shadow: none; } }
.laptop-scroll img {
  display: block;
  width: 100%; }

/*# sourceMappingURL=burmeseboyyo.css.map */
