// Styling for the footer
@import "variables.scss";
.no-border{
    border-top:1px solid transparent!important;
  }
footer {
  padding: 20px 0 20px;
  border-top:1px solid #302f2f;

.list-inline {
    margin: 0;
    padding: 0;
  }
  .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
  }
  p{
    margin-top:10px;
  }
  a:focus,
  a:hover{
    color:$yellow;
  }
 
}
