// Styling for the masthead
header.masthead {
  background: no-repeat center center;
  background-color: $black;
  background-attachment: scroll;
  position: relative;
  @include background-cover;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $gray-900;
    opacity: 0.5;
  }
  .page-heading,
  .post-heading,
  .site-heading {
    padding: 150px 0 150px;
    color: white;
    @media only screen and (min-width: 768px) {
      padding: 150px 0;
    }
  }
  .page-heading,
  .site-heading {
    text-align: default;
    padding-left:20px;
    h1 {
      font-size: 2.5rem;
      font-weight:700;
      margin-top: 0;
      color:$white;

    }
    .subheading {
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 1.1;
      display: block;
      margin: 10px 0 0;
      font-family: 'Spectral', serif;
      font-weight:300;
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 2.5em;
      }
    }
  }
  .post-heading {
    h1 {
      font-size: 35px;
    }
    .meta,
    .subheading {
      line-height: 1.1;
      display: block;
    }
    .subheading {
      font-size: 24px;
      font-weight: 600;
      margin: 10px 0 30px;
      @include sans-serif-font;
    }
    .meta {
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
      @include sans-serif-font;
      a {
        color: $white;
      }
    }

    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 55px;
      }
      .subheading {
        font-size: 30px;
      }
    }
  }
  hr{
    border-top:1px solid $yellow;
  }
}
