#mainNav {
  position: absolute;
  background-color: transparent; }
  #mainNav .navbar-brand {
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff; }
  #mainNav .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
    text-algin: center; }
  #mainNav .overlay .closebtn {
    float: right;
    margin-top: 15px;
    margin-right: 25px; }
  #mainNav .nav-mobile {
    font-size: 30px;
    cursor: pointer; }
  #mainNav .navbar-nav {
    font-weight: 300;
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px; }
    #mainNav .navbar-nav > li.nav-item > a {
      font-size: 1rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #ffffff; }
      @media only screen and (min-width: 992px) {
        #mainNav .navbar-nav > li.nav-item > a {
          font-size: 12px; } }
    #mainNav .navbar-nav > li:last-child.nav-item a {
      border: none; }
      @media only screen and (min-width: 992px) {
        #mainNav .navbar-nav > li:last-child.nav-item a {
          border: 1px solid #ffffff; } }
    #mainNav .navbar-nav > li:last-child.nav-item a:hover {
      border: none; }
      @media only screen and (min-width: 992px) {
        #mainNav .navbar-nav > li:last-child.nav-item a:hover {
          border: 1px solid #feda6a !important; } }
  @media only screen and (min-width: 992px) {
    #mainNav {
      border-bottom: 1px solid transparent;
      background: transparent; }
      #mainNav .navbar-brand {
        padding: 10px 20px;
        color: #ffffff; }
        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
          color: #ffffff; }
      #mainNav .nav-mobile {
        display: none; }
      #mainNav .overlay {
        background-color: transparent;
        height: auto;
        padding: 20px;
        height: auto;
        position: relative; }
        #mainNav .overlay a {
          font-size: 1rem; }
      #mainNav .overlay .closebtn {
        display: none; }
      #mainNav .navbar-nav {
        float: right;
        width: auto;
        top: 0;
        margin-top: 0; }
        #mainNav .navbar-nav > li.nav-item > a {
          padding: 10px 20px;
          float: right;
          color: #ffffff; }
          #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
            color: #feda6a !important; } }
  @media only screen and (min-width: 992px) {
    #mainNav {
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      transition: background-color 0.2s;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
      /* when the user scrolls down, we hide the header right above the viewport */
      position: fixed;
      -webkit-transition: -webkit-transform 0.2s;
      -moz-transition: -moz-transform 0.2s;
      transition: transform 0.2s; } }

/*# sourceMappingURL=navbar.css.map */
