// Styling for the navbar
#mainNav {
  position: absolute;
  background-color: transparent;
  @include sans-serif-font;
  .navbar-brand {
    font-weight: 300;
    text-transform:uppercase;
    color: $white;
  }
  .overlay {
      height: 0%;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: red;
      overflow-y: hidden;
      transition: 0.5s;
      text-algin:center;
  }
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
    
  // .navbar-toggler {
  //   font-size: 12px;
  //   font-weight: 800;
  //   padding: 13px;
  //   text-transform: uppercase;
  //   color: $gray-800;
  // }
  .nav-mobile{
    font-size:30px;
    cursor:pointer;
  }
  .navbar-nav {
        font-weight:300;
        position: relative;
        top: 25%; /* 25% from the top */
        width: 100%; /* 100% width */
        text-align: center; /* Centered text/links */
        margin-top: 30px;
    > li.nav-item {
      > a {
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }
  @media only screen and (min-width: 992px) {
    border-bottom: 1px solid transparent;
    background: transparent;
    .navbar-brand {
      padding: 10px 20px;
      color: $white;
      &:focus,
      &:hover {
        color: red;
      }
    }
    .nav-mobile{
      display:none;
    }
   .overlay{
      background-color: transparent;
      height:auto;
      padding:20px;
      height:auto;
   }
   .overlay .closebtn {
    display:none;
}
    .navbar-nav {
           float:right;
           width:auto;
           top:0;
           margin-top:0;

      > li.nav-item {
        > a {
          padding: 10px 20px;
          float:right;
          color: $white;
          &:focus,
          &:hover {
            color: red;
          }
        }
      }
    }
    
  }
  @media only screen and (min-width: 992px) {
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    // &.is-fixed {
      /* when the user scrolls down, we hide the header right above the viewport */
      position: fixed;
      // top: -67px;
      -webkit-transition: -webkit-transform 0.2s;
      -moz-transition: -moz-transform 0.2s;
      transition: transform 0.2s;
      // border-bottom: 1px solid darken($white, .05);
      // background-color: fade-out($white, .1);
      .navbar-brand{
        &:focus,
        &:hover {
          color: $yellow;
        }
      }
      .navbar-nav {
        > li.nav-item {
          > a {
            &:focus,
            &:hover {
              color: $yellow;
            }
          }
        }
      }
    // }
    // &.is-visible {
    //   /* if the user changes the scrolling direction, we show the header */
    //   -webkit-transform: translate3d(0, 100%, 0);
    //   -moz-transform: translate3d(0, 100%, 0);
    //   -ms-transform: translate3d(0, 100%, 0);
    //   -o-transform: translate3d(0, 100%, 0);
    //   transform: translate3d(0, 100%, 0);
    // }
  }
}
